
h3{
padding-top: 30px;
}

footer{
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    width: 100vw;
}

.form {
    height: 100vh
}

h1{
    text-align: center;
}

.banner {
padding-top: 80px;
padding-bottom: 80px;
}
 
